.menu a:hover{
    color: white;
    font-weight: bold;
    transform: scale(1.1);
    background: 200px;
}
/* menu de categorias */
.menu li:hover ul{
    display: block;
    border-radius: 5px;
}

#toggle-screen ul li:hover ul{
    display: flex;
    border-radius: 5px;
}
/* ------------------ */


.menu-right:hover{
    transform: scale(1.1);
    transition: 0.5s;
    
}

.login:hover{
    color: whitesmoke;
    box-shadow: 5px 2px 2px black; 
}

.card-jogo > img:hover{
    box-shadow: 5px 5px 10px rgb(255, 0, 0,0.4);
    transform: scale(1.1);
    opacity: 0.9;
}

.btn:hover{
    box-shadow: 7px 3px 3px black;
    transform: scale(1.1);
    color: whitesmoke;
}

.inscreva:hover{
    box-shadow: 7px 3px 3px black;
    transform: scale(1.1);
    color: whitesmoke;
}


.img-perfil:hover{
    transform: scale(1.1);
    box-shadow: 0 0 1em black
    
}