.menu li:hover{
    color: white;
    font-weight: bold;
    transform: scale(1.1);
    background: 200px;
}

#categorias:hover{
    color: white;
    font-weight: bold;
    transform: scale(1.1);
    background: 200px;
}

.menu-right:hover{
    transform: scale(1.1);
    transition: 0.5s;
    
}

.login:hover{
    color: white;
}

.card-jogo > img:hover{
    box-shadow: 10px 5px 5px black;
    transform: scale(1.1);
    opacity: 0.9;
}

.btn:hover{
    box-shadow: 7px 3px 3px black;
    transform: scale(1.1);
}