@media (max-width: 490px){
    .hidden-from-490{
        display: none;
    }
    
    .hidden-from-490.categorias{
        display: none;
    }

    button.btn-toggle{
        display: inline-block;
    }
}

@media (max-width: 620px){
    .hidden-from-620{
        display: none;
    }
}

@media (min-width: 490px){
    button.btn-toggle{
        display: none;
    }
}