/* Hover para logo no cabeçalho */
header .logo:hover{
    opacity: 0.7;
}

h2:hover{
color:hsla(0, 73%, 48%, 0.7);
}

.banner  .description .btn:hover{
    transform: scale(1.1);
    color: #ccc;
    box-shadow: 3px 3px 3px #000;
    transition: 0.5s;
}