
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Barlow Condensed', sans-serif;
    /* Variaveis */
    --default-font-size: 1.5rem;
    --default-color: #D62121;
}

body{
    background-color: #353535;
}

/* CABEÇÂLHO */
header
{
    height: 90px;
    position: fixed;
    z-index: 10;
    width: 100vw;
    transition: background-color 1s;
    animation: fadeIn 1s ease-in-out both;
}

header nav
{
    height: 100%;
}

header .top_menu_nav
{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    list-style: none;
    width: 100%;
}

.top_menu_nav .item
{
    margin: 0 10px;
}

header .logo
{
    width: 140px;
}

.top_menu_nav .item.game-name
{
    padding: 3px 10px;
    border-left: 1px solid var(--default-color);
    color: var(--default-color);
    font-weight: bolder; 
}
/* Elemento à direita do cabeçalho */
.game-reference
{
    height: 60%;
}

.last_item
{
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    flex-grow: 1;
    align-items: center;
}

.banner
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-position-x: left;
    background-size: 110%;
    background-repeat: no-repeat;
}
/* Descrição do jogo contida no baner */
.banner .description{
    color: #ccc;
    margin-top: 10vh;
    margin-left: 10%;
    width: 380px;
    text-align: center;
    font-size: var(--default-font-size);
    background-color: rgba(0,0,0,0.7);
    padding: 32px;
    border-radius: 9px;
    animation: scaleOutIn 1s ease-in-out both;
}

.banner  .description h1{
    font-weight: bolder;
    color: var(--default-color);
    font-size: 2em;
    margin-bottom: 12px;
}

.banner  .description .btn{
    width: 120px;
    height: 32px;
    border-radius: 6px;
    outline: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--default-font-size);
    margin-top: 24px;
    background-color: var(--default-color);
    opacity: 0.7;
}
/* SEÇÂO DE DESCRIÇÂO DE ELEMENTOS DO GAME */
.element-of-game.description{
    display: none;
}

.element-of-game{
    font-size: var(--default-font-size);
    margin-top: 99px;
}

.element-of-game:first-child(){
    margin-top: 0;
}

.element-of-game  h2{
    padding: 18px 0;
    background-color: #252525;
    text-align: center;
    font-size: bold;
    color: var(--default-color);
}

.element-of-game .content{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0 12vw;
    margin: 32px 0;
}

.element-of-game .content.reverse{
    flex-flow: row-reverse wrap;
}

.element-of-game .content img{
    max-width: 318px;
    max-height: 418px;
}

.element-of-game .content p{
    font-size: 1.1em;
    color: #EEE;
    background-color: #252525;
    padding: 24px;
    line-height: 2.2rem;
    border-radius: 6px;
    vertical-align: center;
    margin: 32px;
    max-width: 40%;
    min-width: 300px;
}

/* Tag semantica para divisão do conteudo */
hr {
    width: 100%;
    height: 1px;
    border: 0px;
    border-top: 1px solid #252525;
    background-color: #252525;
}
/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-top: 30px;
    align-items: center;
    flex-wrap: wrap;
    color: whitesmoke;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #434343, #000000)
}

footer h3, h5{
    color: white;
}

footer strong{
    color: black;
}

footer #contatos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img-perfil{
    width: 105px;
    margin: 12px;
    border-radius: 50%;
    transition: 0.5s;
    border: 2px solid black;
}