*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
}

header
{
    height: 90px;
    position: fixed;
    width: 100vw;
    transition: background-color 1s;
}

header nav
{
    height: 100%;
}

header .top_menu_nav
{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    list-style: none;
    width: 100%;
}

.top_menu_nav .item
{
    margin: 0 10px;
}

header .logo
{
    width: 140px;
}

.top_menu_nav .item.game-name
{
    padding: 3px 10px;
    border-left: 1px solid #D62121;
    color: #D62121;
    font-weight: bolder; 
}

.game-reference
{
    height: 60%;
}

.last_item
{
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    flex-grow: 1;
    align-items: center;
}

.banner
{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-position-x: left;
    background-size: 110%;
    background-repeat: no-repeat;
}

#teste
{
    width: 100vw;
    height: 100vh;
}

.description{
    color: #ccc;
    margin-top: 10vh;
    margin-left: 10%;
    width: 380px;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgba(0,0,0,0.7);
    padding: 32px;
    border-radius: 9px;
}

.description h1{
    font-weight: bolder;
    color: #D62121;
    font-size: 2em;
    margin-bottom: 12px;
}